body{
  font-family: PT Sans Narrow;
  text-transform: uppercase;
  color:#000000;
  font-size: 14px;
  font-weight: bold;
}
h1{
  font-family: inherit;
  text-transform: inherit;
  color: inherit;
  font-size: 30px;
  font-weight: bold;
}
h2{
  font-family: inherit;
  text-transform: inherit;
  color: inherit;
  font-size: 24px;
  font-weight: bold;
}
